# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/cmake-build-debug/
/cmake-build-debug-visual-studio/
/cmake-build-debug-wsl/
/cmake-build-release-visual-studio/
/cmake-build-release-wsl/
/cmake-build-debug-mingw-thread/
/cmake-build-release-mingw-thread-posix/
/cmake-build-debug-mingw/
/cmake-build-release-mingw/
